# Data files — too large for git
INSIGHT-LME/
mm-fit-dataset/
Whales1and2/
MyoGym/
recofit/

# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.idea/
output/
/Whales1and2_Raw_Labelled
/prepared
